*{

    padding: 0;
    margin:0;
}



nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a4a32; 
}


.logo{

    font-size: 25px;
    position: relative;
    left: 2%;
    color: white;
    font-weight: bold;
    line-height: 70px;
    margin-top: -25px;
    margin-left: -5px;

}

ul{
    position: relative;
    float: right;
    margin-right: 30px;
    

}
.Search{
  padding: 6px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height:40px;
  margin-right: 8px;
  
}

.Search::placeholder{
    color: black;
}


ul li a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
    list-style: none;
}


.welcome{

    padding: 10px 20px 60px;
    background-color:rgb(240, 255, 240);
    background-repeat: no-repeat;
}


.welcome-note{
    display:flex;
    align-items: center;
    justify-content: center;
   
}

 .image{
    width: 100%;
    height: 380px;
    margin-top:60px;
    margin-right: 60px;
   
}

.title{

    color: green;
    font-size: 32px;
    margin-top: 160px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-text{

    margin-top: 20px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    text-align: justify;
}

.Read{

    background-color: #007a4d;
    color: white;
    border-radius:20px;
    width: 150px;
    height: 50px;
    margin-right: 450px;

}

.container{

   margin-top: 40px;
}

.service{

    text-align: center;
    text-decoration: underline;
    margin-top: 70px;
    text-underline-offset:10px;
    text-decoration-color: #007a4d;
}

.container{

    margin-top: 50px;
}


.theraphy{

width: 90%;
height: 200px;
margin: 15px;
}
 
.p{
    margin-top:2px;
    margin: 15px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    
}

.Head{
    
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top:1px;
    color: #007a4d;
}
 
.About{

    margin-top:-600px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-color:#E6C200;
     color: #E6C200;
     font-size: 35px;
     font-weight: bolder;
     margin-left:2px;
     margin-right: 80px;
}

 
.image2{

   max-width:2500px;
    height: 700px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}




.Desc{

    max-width: 900px;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 50px;
    color:#EAE7DC;
    text-align: justify;
    margin-top: 20px;
    font-size:1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;

   
}



.heading{

    margin-right:620px;
    margin-left: 560px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#E6C200;
    text-decoration-color: #E6C200;
    text-decoration: underline;
    text-underline-offset: 10px;
   
   

}
 
.pragraph{

    margin-right:180px;
    text-align: justify;
    color: white;
    margin-left: 240px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
   
}

.heading1{

    margin-top:80px;
    margin-right:620px;
    margin-left:540px;
    color: #E6C200;
    text-decoration-color: #E6C200;
    text-decoration: underline;
     text-underline-offset: 10px;
    
}
 

.pragraph1{

    margin-left: 310px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
 
/** Contact-Form*/

.heading2{
    margin-top:180px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:#004d40;

}



.contact-form {
    background-color: #004d40;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

form input::placeholder{

    color:black;
}


form textarea {
    height: 80px;
    resize: none;
    padding-top: 25px;
}



#btn{

    background-color:#333;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

#btn:hover{
     background-color: #555;
}



/** Footer Section **/

footer{
    background-color: #004d40;
    margin-top: 70px;
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    height: 380px;
}

.footer-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 1100px;
    margin: auto

}

.footer-container div {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-container h3{

  text-decoration: underline solid #00e676; 
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-underline-offset:10px;

}

.footer-container ul{

    list-style: none;
    padding: 0;
}

.footer-container li{

    display:inline-flex;
    
}

.footer-about p{

    font-weight: bold;
    text-align: justify;
    margin-right: 20px;
    margin-top: -15px;
}

.footer-links h3{

    margin-left: 60px;
    margin-top: 5px;
}

.footer-links li{

    margin-left:20px;
    margin-top:-35px;
    display: flex;
    margin-right: 130px;
    


}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #00e676;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 14px;
}

/** Sign-Up Form**/

.topic{

    margin-top: 70px;
    color: white;
}

.Signup{
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
    width: 420px;
    height: 520px;
    margin-top:10px;
}

.input-area{

    width:300px;
    border-radius:100px;
    background: rgba(255, 255, 255, 0.2);
    
}

.label{

    padding-top: 30px ;
    font-size:20px;
    color: white;
}

input::placeholder {
        color: white; 
        opacity: 0.8;  
}



#btn1{
background: rgba(255, 255, 255, 0.1);
 color: white;
 width: 300px;
 border: none;
 padding: 10px;
 border-radius: 25px;
 margin-top: 35px;
 font-size: 14px;
 font-weight: bold;
}
 
/**Login Form**/

.h1{

 margin-top: 130px;
 color:white;
}
 
.Login{

 background: rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(10px);
 width: 420px;
 height: 340px;
 margin-top:13px;

}

#label{

  padding-top: 30px ;
  font-size:20px;
  color: white;

}



/** Client Dashbord**/

.header{
    background-color:#007a4d;
	line-height: 50px;
	padding-left: 30px;	
    height:90px;

}
.clheader{
     background-color:#007a4d;
     height:90px;

}

.client{
padding-top: 20px;

    padding-left:15px;
    color: white;
}

.logout{

    float: right;
    margin-top: -40px;
    margin-right:70px;
    
}

.dashboard {
    display: flex;
    height: calc(100vh - 50px); 
}


.sidebar {
    background-color: #37474f;
    width: 280px;
    padding-top: 0px;
    color: white;
    height: 120vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    display: block;
    font-weight: bold;
}

.sidebar ul li a:hover {
    background-color: #263238;
}

.data{

    margin-top:60px;
    background-color:#007a4d;
    width:480px;
    height:450px;
    
}
 
.data label{

    font-size:25px;
    padding: 10px;
   
}

.therapist-select {
    width: 70%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.sv{

    width: 200px;
    height: 50px;
    margin-top: 10px;
    background-color:green;
    color: white;
}

.content {
    display: flex;
    justify-content:center; 
    align-items:left;     
    min-height: 100vh;     
    margin-top: -620px;  
    margin-right: 5%;
}


.content1{

     margin-top: -550px; 
     
 
}